<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkbox</title>
</head>
<body>
<form action="" method="POST" prefix="second" >
    {% csrf_token %}
    <div class="form-check">
        <input type="checkbox" value="feet" id="feet" name="transports">
        <label for="feet">feet</label>
    </div>

    <div class="form-check">
        <input type="checkbox" value="autobus" id="autobus" name="transports">
        <label for="autobus">autobus</label>
    </div>

    <div class="form-check">
        <input type="checkbox" value="train" id="train" name="transports">
        <label for="train">train</label>
    </div>

    <div class="form-check">
        <input type="checkbox" value="fly" id="fly" name="transports">
        <label for="fly">fly</label>
    </div>

    <button type="submit">naiti</button>
</form>

Question Form
{% csrf_token %} {{ question_form }} <input type="submit" value="Send Question" />

Answer Form
{% csrf_token %} {{ answer_form }} <input type="submit" value="Send Answer" />

</body>
</html>