Django>=4.0.1
psycopg2-binary==2.9.3
pillow==9.0.0
crispy-bootstrap5==0.6
djangorestframework==3.13.1
scrapy==2.5.1
django-rq==2.5.1
requests==2.27.1
faker==13.2.0
factory_boy==3.2.0

geopy==2.2.0
polyline==1.4.0
folium==0.12.1.post1
simplejson==3.17.6

pytest>=6.2.5
pytest-django>=4.5.2

ipython>=8.0.1
flake8>=4.0.1
black>=21.12b0

amadeus==5.3.1
