.full {
    background-color: rgba(245, 213, 196, 0.7);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.singularis {
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

.navbar {
    background-color: rgba(229, 154, 114, 0.7);
}

.dropdown-toggle {
    background-color: rgba(225, 188, 168, 0.7);
    border: rgba(245, 213, 196, 0.7);
}
