{% extends "base.html" %}
{% load crispy_forms_filters %}

<head>
    <title>Simple Map</title>
</head>

{% block content %}
    <h1>Карта</h1>

    {% if request.user.is_authenticated %}
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-primary">Найти</button>
        </form>
    {% else %}
        <p>Для введения координат вам требуется авторизироваться</p>
        <a href="{% url "login" %}" class="btn btn-primary btn-lg active" role="button" disabled>Войти</a><br>
    {% endif %}

    <div class="container">
        <iframe width="1200" height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox={{ coordinates.startlong }}%2C{{ coordinates.startlat }}%2C{{ longkoef }}%2C{{ latkoef }}&amp;layer=mapnik&amp;
                marker={{ coordinates.startlat }}%2C{{ coordinates.startlong }}" style="border: 1px solid black"></iframe><br/>
    </div>
{% endblock %}

