{% extends "base_2.html" %}
{% load crispy_forms_filters %}

{% block content %}
<head>
    <style>
        .folium-map {
            min-height: 650px;
        }
    </style>
        <link type="text/css" rel="stylesheet" href="/static/base.css" media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
<div class="row align-items-start" style="--bs-gutter-x: 0rem; margin-right: 0">
    <div class="col-2">
    </div>
    <div class="col-md-8 text-center wow fadeInUp" data-wow-delay="300ms" style="padding-left: 30px; padding-right: 30px; max-width: 1100px">

            <div class=" folium-map ">
                {% if map %}
                    {{ map.header.render|safe }}
                    {{ map.html.render|safe }}
                    <script>
                        {{map.script.render|safe}}
                    </script>

                {% endif %}
                <p>Граница блока</p>
                    <div class="pos-f-t">
                        <div class="collapse" id="navbarToggleExternalContent">
                            <div class="bg-dark p-4">
                                <h4 class="text-white">Подробности вашего маршрута</h4>
                                <span class="text-muted">{{ info }}</span>
                            </div>
                        </div>
                        <nav class="navbar navbar-dark bg-red">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarToggleExternalContent"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
            </div>

    </div>
    <div class="col-2">
    </div>
</div>


</body>
{% endblock %}