{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<head>

    <style>
        .folium-map {
            min-height: 650px;
        }
    </style>
</head>
<body>
    <br>
<div class="row align-items-start" style="--bs-gutter-x: 0rem; margin-right: 0">
    <div class="col-2">
    </div>
    <div class="col-8" style="padding-left: 30px; padding-right: 30px">
        <div class="container" style="background: rgba(229, 154, 114, 0.7); padding: 10px">
            <div class=" folium-map ">
                {% if map %}
                    {{ map.html.render|safe }}
                    {{ map.header.render|safe }}
                    <script>
                        {{map.script.render|safe}}
                    </script>

                {% endif %}
                <p>Граница блока</p>
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>
</body>
{% endblock %}