{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<head>
    {{ map.header.render|safe }}
    <style>
        .folium-map {
            min-height: 650px;
        }
    </style>
</head>
<body>
<div class=" folium-map container">
{% if map %}
    {{ map.html.render|safe }}

        <script>
            {{map.script.render|safe}}
        </script>
{% endif %}
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Collapsed content</h4>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-red">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
        <p>Граница блока</p>
    </div>
</body>
{% endblock %}