{% extends "base_2.html" %}
{% load crispy_forms_filters %}



{% block content %}

    <head>
        <style>
            #map {
                position: static;
            }

            .map {
                min-height: 650px;
            }
        </style>
    </head>
    </body>
    <br>


    <div class="row features" >
        <div class="col-md-2 text-center wow fadeInUp" data-wow-delay="100ms" >
            {% if request.user.is_authenticated %}
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ place_form|crispy }}
                    <button type="submit" class="save btn btn-primary">Найти</button>
                </form>
            {% else %}
                <p>Для использования сервиса вам требуется авторизироваться</p>
                <a href="{% url "login" %}" class="btn btn-primary btn-lg active" role="button" disabled>Войти</a>
                <br>
            {% endif %}
        </div>
        <div class="col-md-8 text-center wow fadeInUp border border-1" data-wow-delay="300ms" style="padding-left: 30px; padding-right: 30px; max-width: 1100px">

                <div id="map">
                    <div class=" map container ">
                        <script>
                            var map = L.map('map').setView([{{coordinates.places_long}}, {{coordinates.places_lat}}], 10);
                            data = {};
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);
                            L.marker([{{coordinates.places_long}}, {{coordinates.places_lat}}]).addTo(map).bindPopup("{{coordinates.name}}");
                            var gcs = L.esri.Geocoding.geocodeService();
                            var count = 0;
                            map.on('click', (e) => {
                                count += 1;
                                gcs.reverse().latlng(e.latlng).run((err, res) => {
                                    if (err) return;
                                    L.marker(res.latlng).addTo(map).bindPopup(res.address.Match_addr).openPopup();
                                    k = count.toString()
                                    data[k + 'lat'] = res.latlng['lat'];
                                    data[k + 'lon'] = res.latlng['lng'];
                                    if (count == 2) {
                                        const route_url = 'http://localhost:8000/' + data['1lat'] + ',' + data['1lon'] + ',' + data['2lat'] + ',' + data['2lon'];
                                        count = 0;
                                        window.location.replace(route_url);
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
<!--
                <div class="accordion " id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button "
                                    style="background: rgba(229, 154, 114, 0.7); color: rgba(0,0,0,.55)"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                    aria-controls="flush-collapseOne">
                                Информация
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background: rgba(227,183,159,0.7)">
                                Заполнитель
                            </div>
                        </div>
                    </div>
                </div>
-->
        </div>
        <div class="col-md-2 text-center wow fadeInUp" data-wow-delay="500ms" >
            {% if request.user.is_authenticated %}
                <form method="POST" class="post-form" type="radio" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ route_form|crispy }}
                    <br>

                    <h6>Выберите тип транспорта ниже</h6>
                    <div>
                        {{ transport_form|crispy }}
                    </div>
                    <button type="submit" class="save btn btn-primary">Проложить</button>
                </form><br>
            {% endif %}
        </div>
    </div>

    </body>
{% endblock %}